<select *ngFor="let unit of units" [(ngModel)]="product.unitId">
    <option value="{{unit?.id}}">{{unit?.name}}</option>
</select>
<div class="form-group">
    <label>Название</label>
    <input type="text" [(ngModel)]="product.name" class="form-control" />
</div>
<div class="form-group">
    <label>Изготовитель</label>
    <input type="text" [(ngModel)]="product.brand" class="form-control" />
</div>
<div class="form-group">
    <label>Артикул</label>
    <input type="text" [(ngModel)]="product.vendor" class="form-control" />
</div>
<div class="form-group">
    <label>Цена</label>
    <input type="number" [(ngModel)]="product.price" class="form-control" />
</div>
<div class="form-group">
    <label>Описание</label>
    <input type="text" [(ngModel)]="product.description" class="form-control" />
</div>
<get-image (filepathOutput)="setImageUrl($event)"></get-image>